<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body>
    <h1 class="title m-5">PEDIDO</h1>
    <div class="ms-5">
        <% user.forEach( (user)=>{ %>
            <% if (user.facebookId == pedido.idFacebook){ %>
                <p>Nombre de la persona : <br> <b>
                    <img src="<%= user.profilePic %>" width="50px" height="50px" style="border-radius: 50%;">
                 <%= user.firstName %> <%= user.lastName %></b></p>
           <% } %>
       <% }) %>
        
        <p>Local seleccionado : <%= pedido.direccion.ubicacionLocal %></p>
        <p>Entrega en : <%=  pedido.direccion.ubicacionEntrega %></p>
        <p>Total $<%= pedido.total %></p>
    </div>
    <!---------------------------------
    ---------------------------------->
    <div class="row row-cols-1 row-cols-md-2 g-4 ms-2 mt-4">
                <% if(pedido.pago.cortes.arrachera> 0 || pedido.pago.cortes.bifeChorrizo > 0 ){ %>
                    <div class="col-md-3 m-2">
                        <h3 class="title">Cortes</h3>
                        <div class="card">
                            <ol class="list-group list-group-numbered">
                                <% if (pedido.pago.cortes.arrachera> 0){ %>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                            <div class="fw-bold"> Arrachera</div>
                                        </div>
                                        <span class="badge bg-primary rounded-pill">
                                            <%= pedido.pago.cortes.arrachera %>
                                        </span>
                                    </li>
                                    <% } %>
                                        <% if (pedido.pago.cortes.bifeChorrizo> 0){ %>
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto">
                                                    <div class="fw-bold"> Bife Chorrizo</div>
                                                </div>
                                                <span class="badge bg-primary rounded-pill">
                                                    <%= pedido.pago.cortes.bifeChorrizo %>
                                                </span>
                                            </li>
                                            <% } %>

                            </ol>
                        </div>
                    </div>
                    <% } %>

                        <% if(pedido.pago.cortesTop.ribEye> 0 ||
                            pedido.pago.cortesTop.tBone > 0 ){ %>
                            <div class="col-md-3 m-2">
                                <h3 class="title">Cortes Top</h3>
                                <div class="card">
                                    <ol class="list-group list-group-numbered">
                                        <% if (pedido.pago.cortesTop.ribEye> 0){ %>
                                            <li
                                                class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto">
                                                    <div class="fw-bold"> Rib Eye</div>
                                                </div>
                                                <span class="badge bg-primary rounded-pill">
                                                    <%= pedido.pago.cortesTop.ribEye %>
                                                </span>
                                            </li>
                                            <% } %>
                                                <% if (pedido.pago.cortesTop.tBone> 0){ %>
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-start">
                                                        <div class="ms-2 me-auto">
                                                            <div class="fw-bold"> TBone</div>
                                                        </div>
                                                        <span class="badge bg-primary rounded-pill">
                                                            <%= pedido.pago.cortesTop.tBone %>
                                                        </span>
                                                    </li>
                                                    <% } %>
                                    </ol>
                                </div>
                            </div>

                            <% } %>

                                <% if(pedido.pago.conPan.choripan> 0 || pedido.pago.conPan.chistorrapan > 0 ){ %>
                                    <div class="col-md-3 m-2">
                                        <h3 class="title">Con Pan</h3>
                                        <div class="card">
                                            <ol class="list-group list-group-numbered">
                                                <% if (pedido.pago.conPan.choripan> 0){ %>
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-start">
                                                        <div class="ms-2 me-auto">
                                                            <div class="fw-bold">Choripan</div>
                                                        </div>
                                                        <span class="badge bg-primary rounded-pill">
                                                            <%= pedido.pago.conPan.choripan %>
                                                        </span>
                                                    </li>
                                                    <% } %>
                                                        <% if (pedido.pago.conPan.chistorrapan> 0){ %>
                                                            <li
                                                                class="list-group-item d-flex justify-content-between align-items-start">
                                                                <div class="ms-2 me-auto">
                                                                    <div class="fw-bold">Chistorrapan</div>
                                                                </div>
                                                                <span class="badge bg-primary rounded-pill">
                                                                    <%= pedido.pago.conPan.chistorrapan %>
                                                                </span>
                                                            </li>
                                                            <% } %>
                                            </ol>
                                        </div>
                                    </div>
                                    <% } %>
                                    <% if(pedido.pago.papas.secillas > 0 || pedido.pago.papas.chorizo > 0 || pedido.pago.papas.chistorra > 0 || pedido.pago.papas.arrachera > 0){ %>
                                        <div class="col-md-3 m-2">
                                            <h3 class="title">Papas</h3>
                                            <div class="card">
                                                <ol class="list-group list-group-numbered">
                                                    <% if (pedido.pago.papas.secillas > 0){ %>
                                                        <li
                                                            class="list-group-item d-flex justify-content-between align-items-start">
                                                            <div class="ms-2 me-auto">
                                                                <div class="fw-bold">Sencillas</div>
                                                            </div>
                                                            <span class="badge bg-primary rounded-pill">
                                                                <%= pedido.pago.papas.secillas %>
                                                            </span>
                                                        </li>
                                                        <% } %>
                                                        <% if (pedido.pago.papas.chorizo > 0){ %>
                                                            <li
                                                                class="list-group-item d-flex justify-content-between align-items-start">
                                                                <div class="ms-2 me-auto">
                                                                    <div class="fw-bold">Chorizo</div>
                                                                </div>
                                                                <span class="badge bg-primary rounded-pill">
                                                                    <%= pedido.pago.papas.chorizo %>
                                                                </span>
                                                            </li>
                                                            <% } %>
                                                         <% if (pedido.pago.papas.chistorra > 0){ %>
                                                            <li
                                                                class="list-group-item d-flex justify-content-between align-items-start">
                                                                <div class="ms-2 me-auto">
                                                                    <div class="fw-bold">Chistorra</div>
                                                                </div>
                                                                <span class="badge bg-primary rounded-pill">
                                                                    <%= pedido.pago.papas.chistorra %>
                                                                </span>
                                                            </li>
                                                            <% } %>
                                                        <% if (pedido.pago.papas.arrachera > 0){ %>
                                                            <li
                                                                class="list-group-item d-flex justify-content-between align-items-start">
                                                                <div class="ms-2 me-auto">
                                                                    <div class="fw-bold">Arrachera</div>
                                                                </div>
                                                                <span class="badge bg-primary rounded-pill">
                                                                    <%= pedido.pago.papas.arrachera %>
                                                                </span>
                                                            </li>
                                                            <% } %>
                                                </ol>
                                                </div>
                                        </div>
                                    <% } %>
                                    <% if(pedido.pago.empanada.carne > 0 || pedido.pago.empanada.chorizo > 0 || pedido.pago.empanada.chistorra > 0 || pedido.pago.empanada.hawaiana > 0 || pedido.pago.empanada.ate > 0 || pedido.pago.empanada.elote > 0){ %>
                                        <div class="col-md-3 m-2">
                                            <h3 class="title">Empanadas</h3>
                                            <div class="card">
                                                <ol class="list-group list-group-numbered">
                                                    <% if (pedido.pago.empanada.carne > 0){ %>
                                                        <li
                                                            class="list-group-item d-flex justify-content-between align-items-start">
                                                            <div class="ms-2 me-auto">
                                                                <div class="fw-bold">Carne</div>
                                                            </div>
                                                            <span class="badge bg-primary rounded-pill">
                                                                <%= pedido.pago.empanada.carne %>
                                                            </span>
                                                        </li>
                                                        <% } %>
                                                        <% if (pedido.pago.empanada.chorizo > 0){ %>
                                                            <li
                                                                class="list-group-item d-flex justify-content-between align-items-start">
                                                                <div class="ms-2 me-auto">
                                                                    <div class="fw-bold">Chorizo</div>
                                                                </div>
                                                                <span class="badge bg-primary rounded-pill">
                                                                    <%= pedido.pago.empanada.chorizo %>
                                                                </span>
                                                            </li>
                                                            <% } %>
                                                         <% if (pedido.pago.empanada.chistorra > 0){ %>
                                                            <li
                                                                class="list-group-item d-flex justify-content-between align-items-start">
                                                                <div class="ms-2 me-auto">
                                                                    <div class="fw-bold">Chistorra</div>
                                                                </div>
                                                                <span class="badge bg-primary rounded-pill">
                                                                    <%= pedido.pago.empanada.chistorra %>
                                                                </span>
                                                            </li>
                                                            <% } %>
                                                        <% if (pedido.pago.empanada.hawaiana > 0){ %>
                                                            <li
                                                                class="list-group-item d-flex justify-content-between align-items-start">
                                                                <div class="ms-2 me-auto">
                                                                    <div class="fw-bold">Hawaiana</div>
                                                                </div>
                                                                <span class="badge bg-primary rounded-pill">
                                                                    <%= pedido.pago.empanada.hawaiana %>
                                                                </span>
                                                            </li>
                                                            <% } %>
                                                            <% if (pedido.pago.empanada.ate > 0){ %>
                                                                <li
                                                                    class="list-group-item d-flex justify-content-between align-items-start">
                                                                    <div class="ms-2 me-auto">
                                                                        <div class="fw-bold">Ate</div>
                                                                    </div>
                                                                    <span class="badge bg-primary rounded-pill">
                                                                        <%= pedido.pago.empanada.ate %>
                                                                    </span>
                                                                </li>
                                                                <% } %>
                                                                <% if (pedido.pago.empanada.elote > 0){ %>
                                                                    <li
                                                                        class="list-group-item d-flex justify-content-between align-items-start">
                                                                        <div class="ms-2 me-auto">
                                                                            <div class="fw-bold">Elote</div>
                                                                        </div>
                                                                        <span class="badge bg-primary rounded-pill">
                                                                            <%= pedido.pago.empanada.elote %>
                                                                        </span>
                                                                    </li>
                                                                    <% } %>
                                                </ol>
                                                </div>
                                        </div>
                                    <% } %>
    </div>

                                    <!-- JavaScript Bundle with Popper -->
                                    <script
                                        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                                        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                                        crossorigin="anonymous"></script>
</body>

</html>